@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
  grid-template-areas:
    "header header header"
    "aside main aside"
    "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

header {
  grid-area: header;
}

.asideLinks {
  grid-area: asideLinks;
}
.asideRechts {
  grid-area: asideRechts;
}

main {
  grid-area: main;
}
footer {
  grid-area: footer;
} */
